<div id="topics_link_group">
  <div>
    <%= link_to "user管理", "/" %>
  </div>
  <div>
    <%= link_to "商品管理", "/admin/cuisines/new" %>
  </div>
  <div>
    <%= link_to "管理者新規登録","/admin/users/new" %>
  </div>
  <div>
    <%= link_to "Log Out", " admin_logout_path", method: :delete %>
  </div>
</div>