<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
</html>
<div class="link_group">
  <%= link_to "Sign UP","/users/new" %>
  <%= link_to "Sign In", "/login" %>
</div>
<div class= "admin_background_img">
</div>