/**
*管理者の商品登録ページのscss
*/
.cuisine {
  position: absolute;
  right: 6%;
  top: 30px;
}
.cuisine a {
  font-size: 30px;
  padding: 10px;
  border: 2px solid #337ab7;
  color: #337ab7;
  text-decoration: auto;
  border-radius: 30px;
}

.wrap .container_group {
  width: 50%;
  margin: 5% auto;
  text-align: center;
}
.wrap .container_group .container {
  margin-bottom: 5%;
}
.wrap .container_group .container .cohesive {
  display: flex;
  justify-content: center;
}
.wrap .container_group .container .cohesive .siz_adj {
  padding: 15px 10px 5px 10px;
}
.wrap .container_group .container .cohesive .adj {
  padding-right: 10px;
}
.wrap .container_group .container .cohesive label {
  font-size: 30px;
  width: 20%;
}
.wrap .container_group .container .cohesive input {
  padding: 10px;
}
.wrap .container_group .container .cohesive .img_adj {
  width: 30%;
  text-align: end;
  margin-right: 30px;
}
.wrap .container_group .container .wid_adj .field_with_errors {
  margin-right: 100px;
}
.field_with_errors {
  width: 20%;
}
.submit input {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
}
/** 管理者の商品登録ページのcss
* ウィンドウがタブレットサイズの時のcss
*/
@media screen and (max-width: 769px) {
  .wrap .container_group .container .cohesive {
    flex-direction: column;
  }
  .wrap .container_group .container .cohesive label {
    width: 100%;
    text-align: left;
  }
  .wrap .container_group .container .cohesive .img_adj {
    text-align: left;
  }
  .wrap .container_group .container .cohesive .field_with_errors {
    width: 100%;
    text-align: left;
  }
  .wrap .container_group .container .cohesive .field_with_errors input {
    width: 100%;
  }
  .wrap .container_group .container .cohesive .field_with_errors textarea {
    width: 100%;
  }
}
/**
* 管理者の商品登録ページのcss
* ウィンドウのサイズがスマホサイズの時のcss
**/
@media screen and (max-width: 376px) {
  .link_wrapper .main_logo_group > p {
    display: none;
  }
}
/**
* 管理者の商品一覧ページのscss
* ユーザーのオーダーページと共通css
*/
#product_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
}
#product_list .card {
  position: relative;
  width: 300px;
  margin: 5% auto;
  border: 1px solid darkgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product_list .card .image {
  object-fit: cover;
  width: 300px;
  height: 250px;
}
#product_list .card .content {
  width: 100%;
  margin-bottom: 30%;
  text-align: center;
}
#product_list .card .content .name {
  letter-spacing: 1rem;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid darkgray;
  margin: 0 15px;
}
#product_list .card .content .detail {
  font-size: 0.9rem;
  color: #333;
}
#product_list .card .footer {
  position: absolute;
  bottom: 0;
}
#product_list .card .footer .price {
  text-align: center;
}
#product_list .card .footer .price::before {
  content: "¥";
  font-weight: bold;
}
#product_list .card .footer .button form input {
  padding: 10px;
}
#product_list .card .footer a {
  border: 1px solid;
  font-weight: bold;
  font-size: 20px;
}
#product_list .card .footer .edit {
  margin-right: 10px;
  color: green;
}
#product_list .card .footer a:last-child {
  color: red;
}
/**
* 管理者の商品の編集ページのcss
*/
#admin_cuisine_edit_group {
  text-align: center;
}
#admin_cuisine_edit_group .admin_cuisine_edit_title {
  color: #337ab7;
  margin: 5% 0;
}
.admin_cuisine_edit_label_form_group div {
  margin-bottom: 30px;
}
.admin_cuisine_edit_label_form_group div label {
  font-size: 30px;
  margin-right: 5%;
}
.admin_cuisine_edit_button button {
  font-size: 30px;
  cursor: pointer;
}