/**
*管理者の商品登録ページのscss
*/
.cuisine {
  position: absolute;
  right: 6%;
  top: 45px;
}
.cuisine a {
  font-size: 30px;
  padding: 10px;
  color: white;
  text-decoration: auto;
  border-radius: 30px;
}

.wrap .container_group {
  width: 50%;
  margin: 5% auto;
  text-align: center;
}
.wrap .container_group .container {
  margin-bottom: 5%;
}
.wrap .container_group .container .cohesive {
  display: flex;
  justify-content: center;
}
.wrap .container_group .container .cohesive input {
  width: 400px;
}
.wrap .container_group .container .cohesive textarea {
  resize: none;
  width: 400px;
  height: 100px;
  padding: 10px;
}
.wrap .container_group .container .cohesive label {
  font-size: 20px;
  width: 20%;
}
.wrap .container_group .container .cohesive #app label {
  padding: 20px;
  cursor: pointer;
}
.wrap .container_group .container .cohesive input {
  padding: 10px;
}
.wrap .container_group .container .wid_adj .field_with_errors {
  margin-right: 100px;
}
.field_with_errors {
  width: 20%;
}
.submit input {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
}
/** 管理者の商品登録ページのcss
* ウィンドウがタブレットサイズの時のcss
*/
@media screen and (max-width: 769px) {
  .wrap .container_group .container .cohesive {
    flex-direction: column;
  }
  .wrap .container_group .container .cohesive label {
    width: 100%;
    text-align: left;
  }
  .wrap .container_group .container .cohesive .img_adj {
    text-align: left;
  }
  .wrap .container_group .container .cohesive .field_with_errors {
    width: 100%;
    text-align: left;
  }
  .wrap .container_group .container .cohesive .field_with_errors input {
    width: 100%;
  }
  .wrap .container_group .container .cohesive .field_with_errors textarea {
    width: 100%;
  }
}
/**
* 管理者の商品登録ページのcss
* ウィンドウのサイズがスマホサイズの時のcss
**/
@media screen and (max-width: 376px) {
  .link_wrapper .main_logo_group > p {
    display: none;
  }
  .wrap .container_group .container .cohesive {
    input {
      width: auto;
    }
    textarea {
      width: auto;
    }
  }
  #app {
    margin: 20px 0;
  }
}
/**
* 管理者の商品一覧ページのscss
* ユーザーのオーダーページと共通css
*/
#product_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
}
#product_list .card {
  position: relative;
  width: 350px;
  margin: 5% auto;
  border: 1px solid darkgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product_list .card .image {
  object-fit: cover;
  width: 350px;
  height: 250px;
}
#product_list .card .content {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
#product_list .card .content .name {
  letter-spacing: 1rem;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid darkgray;
  margin: 0 15px;
}
#product_list .card .content .detail {
  font-size: 0.9rem;
  color: #333;
  margin-top: 10px;
}
.card .footer {
  width: 100%;
}
.card .footer .group {
  display: flex;
}
.card .footer .group div {
  width: 50%;
  text-align: center;
}
.card .footer .group div a {
  text-decoration: none;
}
#product_list .card .footer .price {
  text-align: center;
  font-size: 20px;
}
#product_list .card .footer .price::before {
  content: "¥";
}
#product_list .card .footer .button {
  margin: 20px 0;
  text-align: center;
}
#product_list .card .footer .button form input {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

/**
* 管理者の商品の編集ページのcss
*/
.group .container {
  text-align: center;
  margin: 3%;
}
.group .container label {
  font-size: 20px;
  margin-right: 3%;
}
.group .container textarea {
  padding: 10px;
  width: 15%;
  font-size: 15px;
  font-weight: bold;
}
.group .fix label {
  padding-right: 5px;
}
.submit button {
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  .group .container label {
    display: block;
  }
  .group .container textarea {
    width: 50%;
  }
}