.admin_login_title {
  width: 50%;
  margin: 10% auto 0 auto;
  text-align: center;
}
#admin_login {
  text-align: center;
  margin-top: 10%;
}
#admin_login .admin_login_email_group {
  margin-bottom: 20px;
}
#admin_login .admin_login_email_group label {
  font-size: 30px;
}
#admin_login .admin_login_email_group input {
  margin-left: 10%;
  width: 20%;
  height: 30px;
}
#admin_login .admin_login_password_group label {
  font-size: 30px;
  margin-right: 10px;
}
#admin_login .admin_login_password_group input {
  margin-left: 5%;
  width: 20%;
  height: 30px;
}
#admin_login .admin_log_in_button input {
  margin-top: 30px;
  font-size: 20px;
}