//
// 管理者のユーザー新規登録ページのscss
//
.input_label_group div .number {
  width: 120px;
  margin-left: 70px;
}
@media screen and (max-width: 1300px) {
  .input_label_group div .number {
    width: 100%;
    margin-left: 0;
  }
}
//
// adminのuser一覧画面のscss
//
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr{
  border-bottom: solid 1px #eee;
}
table tr:hover{
  background-color: #d4f0fd;
}
table th,table td{
  text-align: center;
  width: 15%;
  padding: 15px 0;
}
td .edit {
  text-decoration: none;
  color: green;
  cursor: pointer;
  border: 1px solid green;
  padding: 10px;
}
td .edit:hover {
  background-color: silver;
}
td .delete {
  text-decoration: none;
  color: #FF3366;
  cursor: pointer;
  border: 1px solid #FF3366;
  padding: 10px;
}
td .delete:hover {
  background-color: silver;
}
//
// 管理者のユーザー編集ページのcss
//
.input_label_group .set {
  text-align: center;

  label {
    margin-right: 30px;
  }
  textarea {
    padding: 10px;
  }
}
