//
// 管理者のユーザー新規登録ページのscss
//
.input_label_group div .number {
  width: 120px;
  margin-left: 70px;
}
@media screen and (max-width: 1300px) {
  .input_label_group div .number {
    width: 100%;
    margin-left: 0;
  }
}
//
// adminのuser一覧画面のscss
//
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
table tr:hover{
  background-color: #d4f0fd;
}
table th,table td{
  text-align: center;
  width: 15%;
  padding: 15px 0;
}
//
// 管理者のユーザー編集ページのcss
//
.admin_user_edit_group {
  text-align: center;
  margin-top: 10%;
}
.admin_user_edit_group .admin_user_edit_title {
  margin-bottom: 5%;
  color:  #337ab7;
}
.admin_user_edit_button {
  margin-top: 30px;
}
.admin_user_edit_button button {
  font-size: 30px;
  cursor: pointer;
}
.admin_user_edit_label label {
  margin-right: 5%;
  font-size: 30px;
}