//
// ユーザーページ全ての共通css
// front.html.erb のcss
body {
  word-break: break-all;
  margin: 0;
  min-height: calc(100% - (123px - 66px));
}
.link_wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.link_wrapper .main_logo_group {
  display: flex;
  align-items: center;
}
.link_wrapper .main_logo_group > p {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: serif;
}
.main_logo_img {
  margin-left: 40px;
}
.main_logo_img:hover {
  opacity: 0.5;
}
.main-content {
  height: auto;
}
footer {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0 0 0;
}
footer > p {
  color: white;
}
//
// ユーザー新規登録のページのcss
//
h1 {
  text-align: center;
  margin-top: 5%;
  color: #337ab7;
}
h1::before {
  content: "〜"
}
h1::after {
  content: "〜"
}
.input_label_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.input_label_group div {
  margin-bottom: 30px;
  width: calc(100% / 3);
}
.input_label_group div label {
  font-size: 30px;
}
.input_label_group div input {
  width: 50%;
  padding: 10px;
  margin-left: 30px;
}
.email_label {
  padding-right: 5px;
}
.input_label_group div .input_common {
  margin-left: 18%;
}
.user_new_submit {
  text-align: center;
}
.user_new_submit button {
  padding: 10px;
  font-size: 20px;
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 5%;
  left: 45%;
  color: #337ab7;
  font-size: 20px;
}
.alert-danger {
  color: red;
}
//
// タブレット
//
@media screen and (max-width: 1300px) {
  h1 {
    margin-top: 15%;
  }
  .input_label_group {
    margin-top: 15%;
  }
  .input_label_group div .input_common {
    margin: 0;
  }
  .input_label_group div input {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
}
//
// スマホ
//
@media screen and (max-width: 378px) {
  h1 {
    margin-top: 20%;
  }
  .input_label_group {
    margin-top: 20%;
  }
  .input_label_group div {
    width: calc(100% / 2);
  }
}
//
//ディスプレイ
//
@media screen and (min-width: 1300px) {
  .input_label_group div input {
    margin-left: 20px;
  }
  .input_label_group div .input_common {
    margin-left: 80px;
  }
}