// 
// ユーザーページ全ての共通css
// front.html.erb のcss
body {
  margin: 0;
}
.link_wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.link_wrapper .main_logo_group {
  display: flex;
  align-items: center;
}
.link_wrapper .main_logo_group > p {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: serif;
}
.main_logo_img {
  margin-left: 40px;
}
.main_logo_img:hover {
  opacity: 0.5;
}
.link_group {
  font-size: 30px;
  margin: 40px 40px 0 0;
}
.front_common_link {
  text-decoration: auto;
  border: 2px solid #337ab7;
  color: #337ab7;
  padding: 10px;
  border-radius: 30px;
}
.front_common_link:hover {
  opacity: 0.5;
}
// 
// ユーザのTOPページのcss
// 
.admin_background_img {
  background-image: url(visual-01-sp.jpg);
  height: 90vh;
  width: 100%;
}
// 
// ユーザーの新規登録のページのcss
// 
.user_new_registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_new_registration .user_new_label_form_group {
  display: flex;
  width: 50%;
  margin-top: 10%;
}
.user_new_registration .user_new_label_form_group .common_label_form_group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.user_new_registration .user_new_label_form_group .label_group {
  font-size: 30px;
}
.user_new_registration .user_new_label_form_group .form-group > input {
  height: 30px;
  margin-bottom: 10px;
}
.user_new_registration .user_new_submit .btn {
  margin-top: 30px;
  font-size: 30px;
  background-color: white;
  border-color: #337AB7;
  color: #337AB7;
  border-radius: 30px;
  padding: 10px;
  border-width: thick;
}
.user_new_registration .user_new_submit .btn:hover {
  opacity: 0.5;
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 5%;
  left: 45%;
  color: #337ab7;
  font-size: 20px;
}
// 
// 管理者のユーザー新規登録ページのscss
// 
.admin_users_new_title {
  text-align: center;
  margin-top: 5%;
  color: #337ab7;
}
.admin_user_registration_group{
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
.admin_user_registration_group .label_common input {
  margin-left: 15%;
}
.admin_user_registration_group .admin_registration_password_wrap input {
  margin-left: 50px;
}
.admin_user_registration_button {
  text-align: center;
}
.admin_user_registration_button input {
  font-size: 30px;
}
// 
// adminのuser一覧画面のscss
// 
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
table tr:hover{
  background-color: #d4f0fd;
}
table th,table td{
  text-align: center;
  width: 15%;
  padding: 15px 0;
}
// 
// 管理者のユーザー編集ページのcss
// 
.admin_user_edit_group {
  text-align: center;
}