<h1>ユーザー編集</h1>
  <%= form_tag("/admin/users/#{@user.id}", method: :PUT ) do %>
    <div class="input_label_group">
      <div class="set">
        <label>name</label>
        <textarea name="name"><%= @user.name %></textarea>
      </div>

      <div class="set">
        <label>email</label>
        <textarea name="email"><%= @user.email %></textarea>
      </div>
    </div>

    <div class="submit">
      <%= button_tag "Up date" %>
    </div>
  <% end %>
</div>
