<div class="link_wrapper">
  <%= image_tag "main-logo" %>
  <div class="link_group">
    <%= link_to "新規登録","/admin/users/new", class: "sign-up-link" %>
    <%= link_to("ログイン", "/admin/login") %>
  </div>
</div>