<title>admin-order-system</title>
<div class="link_wrapper">
  <%= image_tag "main-logo", class: "main_logo_img" %>
  <p>管理者専用画面</p>
  <div class="link_group">
    <%= link_to "Sign UP","/admin/users/new", class: "admin_link sign_up_link" %>
    <%= link_to "Sign In", "/admin/login", class: "admin_link sign_in_link"  %>
  </div>
</div>
<div class= "admin_background_img">